body {
  background-color: #002d63;
  margin: 0;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
}

/* Centered container */
.container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

/* Cards */
.card {
  background-color: #f7f6f6;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.20);
  width: 100%;
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
  font-size: 1.6rem;
  color: #476e9b;
}

h2 {
  font-size: 1.1rem;
  color: #6e6773;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

#legend {
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.axis-label {
  font-size: 0.7rem;
  font-weight: 700;
}
